#invoice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  position: relative;
  background:URL("/includes/images/turnbull/copyinvoice.png") 50% 50% no-repeat;
  padding: 10px;
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2); 
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); 
  box-shadow:0 0 5px rgba(0,0,0,0.2); 
  margin: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #CDCDCD;
}
.c {
	text-align: center;
}
#invoiceFilter label {
	width: 60px !important;
	padding-top: 5px;
	margin-right: 5px;
	text-align: right;
}
#invoice td div {
  padding: 3px;
}
.tdark div {
	font-weight: bold;
	background: #AAA; 
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
}
.tlight div {
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
}
.invoice_logo {
	float: left;
	width: 340px;
}
.invoice_logo_text {
  margin-top: 5px;
	margin-left: 10px;
}
.invoice_logo_text p.small {
  font-size: 9px;
}
.invoice_logo p {
  margin: 0;
	font-size: 10px;
}
.invoiceright {
	float: right;
	margin-right: 20px;
	top: 0px;
	width: 250px;
}
.invoiceright h1 {
	color: #000;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.invoiceright p {
  text-align: right;
	margin:0px;
	margin-bottom: 10px;
}
.invoice_header {
	margin: 40px 10px;
}
.invoice_header #invoice_to {
	float: left;
	width: 300px;
}
.invoice_header #invoice_to p {
  text-transform: uppercase;
}
.invoice_header #delivery_address {
  float: left;
  width: 300px;
}
.invoice_header #delivery_address p {
  text-transform: uppercase;
}
.invoice_summary {
	float: left;	
}
.invoice_total {
	float: right;
}
.invoice_footer {
	margin-top: 50px;
}
.invoice_total table {
	width: 250px;
}
.invoice_total table .tdark {
  width: 100px;
}
.invoice_total table .tlight {
  width: 150px;
}
.invoice_total table .tlight div {
  text-align: right;
}
.tlight div.c {
  text-align: center;
}
.invoice_summary table div {
  text-align: center;
}
.invoice_total table .tdark {
  width: 100px;
}
.invoice_summary table td {
  width: 90px;
}
.invoice_summary p {
	margin-top: 0px;
}
.invoice_footer .terms {
	float: left;	
	width: 65%;
}
.invoice_footer .branch_address {
	float: right; 
	width: 30%;
}
.invoice_footer .terms p {
 text-transform: uppercase;
 font-size: 9px;

}
.invoice_footer .terms h4 {
	text-transform: uppercase;
}

#invoiceFilter label {
	width: 50px;
	display: block; float: left; 
}
.accountMenu {
	background: #EFEFEF;
	border: 1px solid #DEDEDE;
	width: 190px; 
	font-size: 90%;
	float: left; 
	margin: 0 10px;
	padding: 10px; 
}
.accountMenu hr {
	
}
.accountMenu .address p {
	margin:0;
	line-height: 145%;
}
.accountMenu h2 {
	margin-top:0;
	line-height:normal;
}
.accountMenu h4 {
	font-size: 120%;
	margin-bottom:0;
}
.updateB {
	border: 1px solid #090;
}
