@font-face {
    font-family: 'DroidSans';
    src: url(/fonts/DroidSans.eot);
    src: local('Droid Sans Regular'), local('DroidSans'), url(/fonts/DroidSans.ttf) format('truetype');
}

@font-face {
    font-family: 'DroidSans';
    font-weight: bold;
    src: url(/fonts/DroidSans-Bold.eot);
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(/fonts/DroidSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('/fonts/Chunkfive.eot');
  src: local('ChunkFive Regular'), local('ChunkFive'), url('/fonts/Chunkfive.woff') format('woff'), url('/fonts/Chunkfive.otf') format('opentype'), url('/fonts/Chunkfive.svg#ChunkFive') format('svg');
}

@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('/fonts/Chunkfive.eot');
  src: local('ChunkFive Regular'), local('ChunkFive'), url('/fonts/Chunkfive.woff') format('woff'), url('/fonts/Chunkfive.otf') format('opentype'), url('/fonts/Chunkfive.svg#ChunkFive') format('svg');
}

@font-face {
  font-family: 'PTSansBold';
  src: url('/fonts/PT_Sans_Bold.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('/fonts/PT_Sans_Bold.woff') format('woff'), url('/fonts/PT_Sans_Bold.otf') format('opentype'), url('/fonts/PT_Sans_Bold.svg#PTSans-Bold') format('svg');
}

@font-face {
  font-family: 'PTSansBold';
  src: url('/fonts/PT_Sans_Bold.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('/fonts/PT_Sans_Bold.woff') format('woff'), url('/fonts/PT_Sans_Bold.otf') format('opentype'), url('/fonts/PT_Sans_Bold.svg#PTSans-Bold') format('svg');
}

@font-face {
  font-family: 'PTSansRegular';
  src: url('/fonts/PT_Sans.eot');
  src: local('PT Sans Regular'), local('PTSans-Regular'), url('/fonts/PT_Sans.woff') format('woff'), url('/fonts/PT_Sans.otf') format('opentype'), url('/fonts/PT_Sans.svg#PTSans-Regular') format('svg');
}

@font-face {
  font-family: 'PTSansBold';
  src: url('/fonts/PT_Sans_Bold.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('/fonts/PT_Sans_Bold.woff') format('woff'), url('/fonts/PT_Sans_Bold.otf') format('opentype'), url('/fonts/PT_Sans_Bold.svg#PTSans-Bold') format('svg');
}

@font-face {
  font-family: 'PTSansRegular';
  src: url('/fonts/PT_Sans.eot');
  src: local('PT Sans Regular'), local('PTSans-Regular'), url('/fonts/PT_Sans.woff') format('woff'), url('/fonts/PT_Sans.otf') format('opentype'), url('/fonts/PT_Sans.svg#PTSans-Regular') format('svg');
}

@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('/fonts/Chunkfive.eot');
  src: local('ChunkFive Regular'), local('ChunkFive'), url('/fonts/Chunkfive.woff') format('woff'), url('/fonts/Chunkfive.otf') format('opentype'), url('/fonts/Chunkfive.svg#ChunkFive') format('svg');
}
.red {
	color: #900 !important;
}
